#titre1{
    color: red;
    text-decoration: underline;
}

#paragraphe1{
    color: blue;
}

#paragraphe2{
    color: green;
}

#paragraphe3{
    color: orange;
}

#div1{
    display: flex;
    align-items: center;
    flex-direction: column;
}